!!! 5
%html
  %head
    %meta(name="robots" content="noindex,nofollow,noarchive")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title #{G_APP_NAME} - #{title}
    %link(rel="shortcut icon" href="/img/favicon.ico")
    %link(rel="apple-touch-icon" href="/img/apple-touch-icon.png")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
    %style(type="text/css")
      - curmonth = "%02d"%Date.today.month
      body{
      background-image: url(/img/bg/#{curmonth}.jpg), url(/img/bg/#{curmonth}_rev.jpg);
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      }
      - if @public_mode then
        - public_top_bar_color = "green"
        = ".top-bar { background: #{public_top_bar_color} !important;}";
        = ".top-bar-section li a {background: #{public_top_bar_color} !important;}";
        = ".top-bar-section {background: #{public_top_bar_color} !important;}";
        = ".top-bar-section ul {background: #{public_top_bar_color} !important;}";
  %body
    = if top_bar then haml :top_bar end
    %div#app
      %router-view
    - if not @public_mode
      %script
        var g_user_name='#{@user and @user.name}';
        -if @user and @user.bbs_public_name
          var g_user_bbs_public_name='#{@user.bbs_public_name}';
    - else
      %script
        var g_user_name='#{get_permanent("bbs_name")}';
    -# for IE
    %script(src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js")
    %script(src="https://unpkg.com/axios/dist/axios.min.js")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js")
    %script(crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    %script(crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    %script(crossorigin="anonymous" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js")
    %script(src="/js/bundle.js")
