!!! 5
%html
  %head
    %base(href="#{if @public_mode then '/public/' else '/' end}")
    %meta(name="robots" content="noindex,nofollow,noarchive")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title #{G_APP_NAME} - #{yield_content(:title)}
    %link(rel="shortcut icon" href="/img/favicon.ico")
    %link(rel="apple-touch-icon" href="/img/apple-touch-icon.png")
    %link(rel="stylesheet" href="/css/app.css")
    %link(rel="stylesheet" href="js/libs/select2/select2.css")
    - this_css = yield_content(:css)
    - this_css.strip.split(/\s*,\s*/).each do |x|
      - path = if x.start_with?("http://") then x else "/css/#{x}.css" end
      %link(rel="stylesheet" href="#{path}")
    %style(type="text/css")
      - curmonth = "%02d"%Date.today.month
      body{
      background-image: url(/img/bg/#{curmonth}.jpg), url(/img/bg/#{curmonth}_rev.jpg);
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      }
      - if @public_mode then
        - public_top_bar_color = "green"
        = ".top-bar { background: #{public_top_bar_color} !important;}";
        = ".top-bar-section li a {background: #{public_top_bar_color} !important;}";
        = ".top-bar-section {background: #{public_top_bar_color} !important;}";
        = ".top-bar-section ul {background: #{public_top_bar_color} !important;}";
  -# 注意: content_for :haml で読み込むhamlファイルはブラウザにキャッシュされるので
  -#      @userなどの動的な情報は含まれないようにすること(routesの 'get /haml/:prefix' 参照)
  %body(data-haml="#{yield_content(:haml)}")
    %a(name="anchor-top")
    = yield
    #body-end.row
      %a.right(href="javascript:window.scrollTo(0,0);") &uArr; 一番上へ
    /[if IE 9]
      %script
        var g_is_ie9 = true
    - if not @public_mode
      %script
        var g_user_name='#{@user and @user.name}'
        -if @user and @user.bbs_public_name
          var g_user_bbs_public_name='#{@user.bbs_public_name}'
    - else
      %script
        var g_user_name='#{get_permanent("bbs_name")}'
    %script
      var g_public_mode=#{!!@public_mode}
    %script(src="/js/libs/requirejs/require.js" data-main="/js/main" data-start="#{yield_content(:js_start)}")
