!!! 5
%html(lang="ja")
  %head
    %meta(name="robots" content="noindex,nofollow,noarchive")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title #{G_APP_NAME} - #{title}
    %link(rel="shortcut icon" href="/img/favicon.ico")
    %link(rel="apple-touch-icon" href="/img/apple-touch-icon.png")
    %link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous")
  %body
    %nav#topbar
    %main#container
    %div#notifications
    %div#dialog
    %script
      - if not @public_mode
        var g_admin = #{@user ? !!@user.admin : false};
        var g_sub_admin = #{!!(@user ? (@user.admin or @user.sub_admin) : false)};
        var g_user_name = '#{@user and @user.name}';
        -if @user and @user.bbs_public_name
          var g_user_bbs_public_name = '#{@user.bbs_public_name}';
      - else
        var g_user_name = '#{get_permanent("bbs_name")}';
    - if block_given?
      != yield
    -# polyfill for IE
    %script(src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js")
    %script(src="https://unpkg.com/axios/dist/axios.min.js")
    %script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js" integrity="sha256-/GKyJ0BQJD8c8UYgf7ziBrs/QgcikS7Fv/SaArgBcEI=" crossorigin="anonymous")
    %script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    %script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous")
    %script(src="/js/bundle.js")
