!!! 5
%html(lang="ja")
  %head
    %meta(name="robots" content="noindex,nofollow,noarchive")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title #{G_APP_NAME} - #{title}
    %link(rel="shortcut icon" href="/img/favicon.ico")
    %link(rel="apple-touch-icon" href="/img/apple-touch-icon.png")
    %link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
  %body
    %nav#topbar
    %main#container
    %div#notifications
    %div#dialog
    %script
      - if not @public_mode
        var g_user_name='#{@user and @user.name}';
        -if @user and @user.bbs_public_name
          var g_user_bbs_public_name='#{@user.bbs_public_name}';
      - else
        var g_user_name='#{get_permanent("bbs_name")}';
    -# polyfill for IE
    %script(src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js")
    %script(src="https://unpkg.com/axios/dist/axios.min.js")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js")
    %script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous")
    %script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous")
    %script(src="/js/bundle.js")
