- content_for :title do
  トップ
- content_for :js_start do
  top
- content_for :css do
  top, schedule_item, event_detail, comment, 
  http://cdnjs.cloudflare.com/ajax/libs/chosen/0.9.15/chosen.css
= haml :top_bar

.row
  .large-6.columns
    .panel.top-message
      .event-new
        %span 最終ログイン: #{@user.last_login_str}, 今月ログイン: #{@user.log_mon_count}
      #bbs-new
      #event-comment-new
      #schedule-alert
      #event-participant-new

  .large-6.columns
    %ul#schedule-panel.large-block-grid-3.small-block-grid-3

#event-list

%script#templ-event-list(type='text/template')
  .row
    .large-6.columns
      .panel.deadline-message.hide
        .header 締切が迫っています
    .large-6.columns
      - if daily_photo.nil?.!
        %div.right.daily-album-photo
          %div 今日の一枚
          %div
            %a(href="album#item/#{daily_photo['id']}")
              %img(src="static/album/thumb/#{daily_photo['id']}" width="#{daily_photo['width']}" height="#{daily_photo['height']}")
  .row
    .large-12.columns
      - if @user.admin
        %div.left
          %button.small.round#add-contest 大会追加
          %button.small.round#add-event 行事追加
      %dl#event-order.sub-nav.right
        %dt 順序:
        %dd.choice(data-order='date')
          %a 開催日
        %dd.choice(data-order='deadline_day')
          %a 締切日
        %dd.choice(data-order='created_at')
          %a 追加日
        %dd.choice(data-order='latest_comment_date')
          %a 最終書込
  .row
    .large-12.columns
      %ul.event-body.large-block-grid-2.small-block-grid-1

%script#templ-event-abbrev(type='text/template')
  .row.collapse.event-item
    .large-4.columns
      %a.show-detail
        <%- data.name %>
    .large-3.columns
      .deadline
        <%= data.deadline_str %>
    .large-5.columns
      .event-choice

%script#templ-event-item(type='text/template')
  .panel.event-item
    .row.event-name-row
      .large-12.columns
        %span {{ _.show_kind_symbol(data.kind,data.official) }}
        %span.event-name {- data.name -}
    .row
      .large-7.columns
        開催日: {{ _.show_date(data.date) }}
      .large-5.columns.deadline(class='{{data.forbidden?"forbidden":""}}') 締切: {{ data.deadline_str }}
    .row.deadline-row
      .large-12.columns
        .event-choice
    .row
      .large-4.columns
        登録数:
        %span.participant-count {{ data.participant_count }}
        名
      .large-8.columns.buttons
        <% if(data.editable){ %>
        %button.button-light.show-edit 編集
        <% } %>
        %button.button-light.show-detail
          詳細
        %span.button-light.show-comment
          コメント {{ _.show_new_comment(data.comment_count,data.has_new_comment) }}

%script#templ-event-choice(type='text/template')
  <% _.each(data,function(d){ %>
  %dd.choice(data-id='{-d.id-}' class='positive-{-d.positive-}')
    %a {- d.name -}
  <% }) %>

%script#templ-sticky-alert(type='text/template')
  #sticky-alert.alert-box.success(data-alert)
    .content
    %a.close &times;

%script#templ-event-edit(type='text/template')
  .row
    .section-container.tabs(data-section="tabs")
      %section
        %p.title(data-section-title)
          %a 情報
        .content(data-section-content)
          #event-edit-info
      %section
        %p.title(data-section-title)
          %a 参加者
        .content(data-section-content)
          #event-edit-participant

%script#templ-event-edit-info(type='text/template')
  %form#event-edit-form
    .clearfix
      %input.left.button.small(type='submit' value='更新')
      %button#delete-event.right.button.small.alert 削除
    .row
      .large-4.columns
        <% if(data.kind == "contest"){ %>
        %label
          恒例大会
          %button.tiny.round +
        .row
          .large-9.columns
            %select
          .large-3.columns
            .button.tiny.round 情報
        <% }else{ %>
        %label
          種別
        %select(name="kind")
          <% event_kinds = JSON.parse(g_event_kinds_str) %>
          <% _.each(event_kinds, function(x){ %>
          {{_.make_option(data.kind,{value:x[0],text:x[1]})}}
          <% }) %>
        <% } %>
      .large-5.columns
        %label 大会/行事名
        %input(name='name' type='text' value='{- data.name -}')
      .large-3.columns
        %label 管理者(半角コンマ区切り)
        %input(name='owners_str' type='text' value='{- data.owners_str -}')
    <% if(data.kind == "contest"){ %>
    .row
      .large-2.columns
        %label 公認/非公認
        %select(name='official')
          %option(value='1') 公認
          %option(value='0') 非公認
      .large-2.columns.left
        %label 個人戦/団体戦
        %select(name='team_size')
          <% _.each(JSON.parse(g_team_sizes_str),function(x){ %>
          %option(value='{{x[0]}}') {{x[1]}}
          <% }) %>
      .large-4.columns
        %label 正式名称
        %input(name='formal_name' type='text' value='{- data.formal_name -}')
      .large-4.columns
        %label 参加不能属性
        %select(name='forbidden_attrs' multiple) {{ _.show_all_attrs(data.all_attrs,data.forbidden_attrs)}}
    <% } %>
    .row
      .large-6.columns
        %label 場所
        %input(name='place' type='text' value='{- data.place -}')
      .large-4.columns
        .row
          .large-6.columns
            %label 開催日
            %input(name='date' type='text' placeholder='YYYY-MM-DD' value='{- data.date -}')
          .large-3.columns
            %label 開始時刻
            %input(name='start_at' type='text' placeholder='hh:mm' value='{- data.start_at -}')
          .large-3.columns
            %label 終了時刻
            %input(name='end_at' type='text' placeholder='hh:mm' value='{- data.end_at -}')
      .large-2.columns
        %label 締切日
        %input(name='deadline' type='text' placeholder='YYYY-MM-DD' value='{- data.deadline -}')
    .row
      .large-2.columns
        %label 集計属性
        %select(name='aggregate_attr_id')
          <% _.each(data.all_attrs,function(x){ %>
          {{_.make_option(data.aggregate_attr_id,{value:x[0][0],text:x[0][1]})}}
          <% }) %>
      .large-7.columns
        %label 選択肢
        #edit-choice-list
          <% temp = _.template_braces($("#templ-choice-item").html()) %>
          <% _.each(data.choices,function(x){ %>
          {{ temp({x:x}) }}
          <% }) %>
        %button#add-choice.left.tiny.success 追加
      .large-3.columns
        {{ _.make_checkbox(data.hide_choice,{name:'hide_choice'}) }}
        %span(title='誰がどの選択肢を選んだかユーザには分からないようにする') どれを選択したかを隠す
    .row
      .large-12.columns
        %label 備考
        %textarea(name='description' rows=15) {{data.description}}

%script#templ-choice-item(type='text/template')
  .left.choice-item(data-choice-id='{{x.id}}' data-positive='{{x.positive}}')
    %span.choice-name {- x.name -}
    <% if(x.positive){ %>
    %span.choice-delete &times;
    <% } %> 


#container-event-detail.reveal-modal
#container-event-comment.reveal-modal
#container-event-edit.reveal-modal

= haml :schedule_item
= haml :event_detail

#sticky-alert-container
