- content_for :title do
  トップ
- content_for :js_start do
  top
- content_for :css do
  top, schedule_item, event_detail, comment
= haml :top_bar, locals: {user:user}

.row
  .large-6.columns
    .panel.top-message
      .event-new
        %span 最終ログイン:#{user.last_login_str}, 今月ログイン:#{user.log_mon_count}
      .bbs-new
      .event-comment-new
      .schedule-alert
      .event-participant-new

  .large-6.columns
    %ul#schedule-panel.large-block-grid-3.small-block-grid-3

#event-list

%script#templ-event-list(type='text/template')
  .row
    .large-6.columns
      .panel.deadline-message.hide
        .header 締切が迫っています
    .large-6.columns
      - if user.admin
        %div.right
          %button.small.round#add-contest 大会追加
          %button.small.round#add-event 行事追加
      %dl#event-order.sub-nav.right
        %dt 順序:
        %dd.choice(data-order='date')
          %a 開催日
        %dd.choice(data-order='deadline_day')
          %a 締切日
        %dd.choice(data-order='created_at')
          %a 追加日
        %dd.choice(data-order='latest_comment_date')
          %a 最終書込
  .row
    .large-12.columns
      %ul.event-body.large-block-grid-2.small-block-grid-1

%script#templ-event-abbrev(type='text/template')
  .row.collapse.event-item
    .large-4.columns
      %a.show-detail(href="#")
        <%- data.name %>
    .large-3.columns
      .deadline
        <%= data.deadline_str %>
    .large-5.columns
      .event-choice

%script#templ-event-item(type='text/template')
  .panel.event-item
    .row
      .large-12.columns.event-name {- data.name -}
    .row
      .large-7.columns
        開催日: {{ _.show_date(data.date) }}
      .large-5.columns.deadline(class='{{data.forbidden?"forbidden":""}}') 締切: {{ data.deadline_str }}
    .row.deadline-row
      .large-12.columns
        .event-choice
    .row
      .large-4.columns
        登録数:
        %span.participant-count {{ data.participant_count }}
        名
      .large-8.columns.buttons
        - if user.admin
          %button.button-custom.show-edit 編集
        %button.button-custom.show-detail
          詳細
        %span.button-custom.show-comment
          コメント {{ _.show_new_comment(data.comment_count,data.has_new_comment) }}

%script#templ-event-choice(type='text/template')
  <% _.each(data,function(d){ %>
  %dd.choice(data-id='{-d.id-}' class='positive-{-d.positive-}')
    %a {- d.name -}
  <% }) %>

%script#templ-sticky-alert(type='text/template')
  #sticky-alert.alert-box.success(data-alert)
    .content
    %a.close &times;

%script#templ-event-edit(type='text/template')
  %form#event-edit-form
    %input.button.small(type='submit' value='更新')
    .row
      .large-4.columns
        %label
          恒例大会
          %button.tiny.round +
        .row
          .large-9.columns
            %select
          .large-3.columns
            .button.tiny.round 情報
      .large-4.columns
        %label 大会名
        %input(name='name' type='text' value='{- data.name -}')
      .large-4.columns
        %label 正式名称
        %input(name='formal_name' type='text' value='{- data.formal_name -}')
    .row
      .large-4.columns
        %label 開催日
        %input(name='date' type='text' placeholder='YYYY-MM-DD' value='{- data.date -}')
      .large-2.columns
        %label 開始時刻
        %input(name='start_at' type='text' placeholder='hh:mm' value='{- data.start_at -}')
      .large-2.columns
        %label 終了時刻
        %input(name='end_at' type='text' placeholder='hh:mm' value='{- data.end_at -}')
      .large-4.columns
        %label 締切日
        %input(name='deadline' type='text' placeholder='YYYY-MM-DD' value='{- data.deadline -}')

#container-event-detail.reveal-modal
#container-event-comment.reveal-modal
#container-event-edit.reveal-modal

= haml :schedule_item
= haml :event_detail

#sticky-alert-container
