%nav.top-bar(data-options="custom_back_text:false")
  - user_name = if @public_mode then "公開版" else @user.name end
  %section.top-bar-section
    %ul.title-area
      %li.name
        %h1.show-for-small
          %a(href)
            = user_name
        %li.toggle-topbar.menu-icon
          %a(href)
            %span Menu
    - ::G_TOP_BAR_ROUTE.each do |x|
      - if not @public_mode or x[:public]
        %ul.left
          %li
            %a(href="#{x[:route]}") #{x[:name]}
    - if not @public_mode then
      %ul.left
        %li.has-dropdown
          %a(href="#{env['PATH_INFO']}#") その他
          %ul.dropdown
            - if @user.admin then
              %li
                %a(href="admin") 管理画面
            %li
              %a(href="user_conf") ユーザ設定
            %li
              %a(href="login_log") ログイン履歴
            %li
              %a(href="https://github.com/pjmtdw/kagetra/issues") 要望・バグ報告
            %li
              %a(href="user/logout") ログアウト
    %ul.right.hide-for-small
      %li
        %a(href) #{user_name}
