%div
  %a(href='#{G_MOBILE_BASE}/top') [TOP]
  - if @prev_url.empty?.!
    %a(href='#{G_MOBILE_BASE}/#{@prev_url}') [戻る]
%h3= @info["thread_name"]
%form(method='post' action='#{G_MOBILE_BASE}/#{@namesp}/comment/#{params[:from]}/item')
  %input(type='hidden' name='thread_id' value='#{params[:id]}')
  %div
    %textarea(rows='5' cols='60' name='body')
  %div
    %input(type='submit' value='コメント書き込み')
%div
  = mobile_haml :pagination, locals: {info:@info}
- @info["list"].each do |t|
  %b [ #{t["user_name"].escape_html}@#{t["date"]} ]
  - if t["is_new"]
    %b
      %font(color='green') (new!)
  %pre #{t["body"].escape_html}
