%a(href='top') [TOP]
= mobile_haml :pagination, locals: {info:@info}
- @info["list"].each do |x|
  %div
    [#{x["date"]}] #{x["name"].escape_html}
    %a(href="event/detail/event_done/#{x["id"]}") [詳細]
    %a(href="event/comment/list/event_done/#{x["id"]}")
      [コメント(#{x["comment_count"]}
      - if x["has_new_comment"]
        %b
          %font(color="green") new!
      )]
