%a(href='top') [TOP]
- @list.each do |ev|
  %hr
  %div
    - if ev["date"]
      %b #{mobile_show_event_date(ev["date"])}
    #{mobile_event_symbol(ev["kind"],ev["official"])} #{ev["name"].escape_html}
    - if ev["deadline"]
      %i (締切: #{mobile_show_event_date(ev["deadline"])})
  %div
    &nbsp;&nbsp;&nbsp;
    %a(href='event/detail/event/#{ev["id"]}') [詳細(#{ev["participant_count"]}人)]
    %a(href='event/comment/list/event/#{ev["id"]}')
      [コメント(#{ev["comment_count"]}
      - if ev["has_new_comment"]
        %b
          %font(color="green") new!
      )]
    &lt;
    = mobile_haml :event_choice, locals:{ev:ev}
    &gt;
