%div
  %a(href='#{G_MOBILE_BASE}/top') [TOP]
  %a(href='#{G_MOBILE_BASE}/wiki') [Index]
  %a(href='#{G_MOBILE_BASE}/wiki/item/1') [Home]
  %a(href='#{G_MOBILE_BASE}/wiki/item/#{params[:id]}') [ページ]
  %a(href='#{G_MOBILE_BASE}/wiki/comment/list/wiki.item.#{params[:id]}/#{params[:id]}') [コメント]
%div
- (1..@info["pages"]).each do |p|
  %a(href='#{G_MOBILE_BASE}/wiki/attached_list/#{params[:id]}?page=#{p}') [#{p}]
%table(border=1 cellspacing=0 cellpadding=3)
  - @info["list"].each do |x|
    %tr
      %td
        %a(href='/static/wiki/attached/#{x["id"]}')= x["orig_name"]
      %td= mobile_show_bytes(x["size"])
      %td= x["date"]
      %td= x["description"].to_s.escape_html
