%div
  %a(href='#{G_MOBILE_BASE}/top') [TOP]
  %a(href='#{G_MOBILE_BASE}/wiki') [Index]
  %a(href='#{G_MOBILE_BASE}/wiki/item/1') [Home]
  -if params[:id] != "all"
    %a(href='#{G_MOBILE_BASE}/wiki/attached_list/#{params[:id]}') [添付ファイル]
    %a(href='#{G_MOBILE_BASE}/wiki/comment/list/wiki.item.#{params[:id]}/#{params[:id]}') [コメント]
%h3 #{@title.escape_html}
= @html
